/*Herança e especificidade*/
*{
    border: 1px solid red;
}

body{   /*no body só deixar formatação generica*/
    color: red;
    font-size:  25px;
    background: gray; /*background não´é herdado*/
}

p{
    color: red;
}

p{      /* seletores iguais, o ultimo é o que será acatado*/
    color: blue;
}

#pagina p{
    color: orange !important; /*se usar a palavra importante, mesmo não sendo o ultimo ele que será acatado*/
}

#pagina p{
    color: violet;
}